# Ignore dependencies and cache
node_modules
npm-debug.log
yarn-error.log

# Ignore Git
.git
.gitignore

# Ignore environment and local configs
.env
.DS_Store

# Keep Dockerfile and fly.toml (don’t ignore them!)
